<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:orcl</property>
		<property name="hibernate.connection.username">C##OZLEM</property>
		<property name="hibernate.connection.password">9865740000Aa</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<mapping class="com.project.entity.Ariza"></mapping>
		<mapping class="com.project.entity.ArizaCihaz"></mapping>
		<mapping class="com.project.entity.ArizaMarka"></mapping>
		<mapping class="com.project.entity.ArizaTip"></mapping>
		<mapping class="com.project.entity.Kullanici"></mapping>
		


	</session-factory>


</hibernate-configuration>
